.btn-group.pull-left
  %a.btn.btn-success(href='#' title="Mi piace" rel="tooltip")
    %i.icon-thumbs-up.icon-white
    150
  %a.btn.btn-danger(href="#" title="Non mi piace" rel="tooltip")
    %i.icon-thumbs-down.icon-white
    3
%a.btn.pull-right(href="#" title="Segnala" rel="tooltip")
  %i.icon-exclamation-sign
