.cg-buttons.clearfix
  .btn-group.pull-left
    -#= @vote = p.has_vote_from_user(current_user.id) if current_user
    %a.btn.btn-success.btn-voteup{href: voteup_post_path(postbuttons), title: "Mi piace", rel: "tooltip"}
      %i.icon-thumbs-up.icon-white
      = postbuttons.plus
    %a.btn.btn-danger.btn-votedown{href: votedown_post_path(postbuttons), title: "Non mi piace", rel: "tooltip"}
      %i.icon-thumbs-down.icon-white
      = postbuttons.minus
  %a.btn.pull-right.btn-report{href: report_post_path(postbuttons), title: "Segnala", rel: "tooltip"}
    %i.icon-exclamation-sign
