.row-fluid
  .span2
    %img{:src => '/img/logo200.png', :width => '100px'}
  .span10
    %p
      %span.carogoverno Carogoverno.it
      è un servizio gratuito realizzato da volontari. Se lo apprezzate e  desiderate aiutarci, potete farlo con una piccola donazione. Grazie!
      = render :partial => "shared/paypal"
