%section.container#chi-siamo
  .hero-unit.clearfix
    .logo
      %img(src='/img/logo200.png' alt='Caro Governo')
    .info
      %h1.carogoverno Caro Governo,
      %p questo portale <b>no profit</b> &egrave; stato ideato per dar voce al popolo Italiano, crediamo sia giusto dar la possibilit&agrave; a chiunque di proporre un'idea di miglioramento e siamo fermamente convinti che debba essere il popolo stesso a valutarla, nasce quindi questo sistema aperto a tutti di proposte a votazioni.
  .row
    .span4
      %h2.carogoverno Il progetto
      %p nasce dall'idea di dare un punto di incontro a ogni cittadino italiano dove poter esprimere il proprio pensiero, sfogo o, cosa pi&ugrave; importante, la possibilit&agrave; di <b>proporre</b> un idea innovativa al fine di migliorare lo stato attuale del paese e agli altri di <b>votarla</b> in modo positivo o negativo con un semplice click.
    .span4
      %h2.carogoverno L'Italia
      %p ha una popolazione di <b>60,8 milioni</b> di abitanti e in un periodo di crisi nazionale come questo, a nostro avviso, l'unione fa la forza quindi perch&egrave; non sfruttare al meglio il pi&ugrave; potente mezzo di comunicazione per <b>unire tutti i cittadini</b> al fine di trovare qualche idea e migliorare lo stile di vita nazionale?
    .span4
      %h2.carogoverno Perch&egrave;
      %p tutto questo funzioni dipende da tutti noi perch&egrave; il paese siamo <b>NOI</b> e, quindi, &egrave; necessario far si che ognuno di noi si impegni in modo costruttivo esponendo il proprio pensiero, <b>proponendo</b>, o semplicemente esprimendo la nostra opinione <b>votando</b> le proposte altrui sia in caso siamo d'accordo sia in caso non approviamo!
