%h1 Condizioni Di Utilizzo

%p Questo sito nasce con lo scopo di dare voce a chiunque, quindi basta un minimo di buonsenso per evitare che le proposte vengano rimosse. Non sarà scrivendo insulti che darete un aiuto.

%p Per far si che il sito rimanga pulito invitiamo tutti gli utenti a usare il tasto "Segnala" per segnalare eventuali proposte che non rispettino il regolamento.

%p Tramite il tasto "Mi piace" e "Non mi piace" si può esprimere la propria opinione riguardo a proposte altrui.

%h2 Regolamento

%blockquote Ogni messaggio esprime il punto di vista dell'autore, non quello degli Amministratori o degli altri utenti. Gli Amministratori rimuoveranno i messaggi non conformi alle condizioni di utilizzo.

%blockquote E' severamente vietato fare insulti siano essi destinati a politici o altri utenti del sito.

%blockquote E' vietato denigrare utenti e/o proposte espresse  da altri.

%blockquote E' vietata ogni forma di razzismo ed ogni apologia dell'inferiorità o superiorità di una razza rispetto alle altre.

%blockquote E' vietato il pubblicare link a immagini e/o filmati ritenuti osceni e sessualmente espliciti.

%blockquote E' vietato inviare proposte al solo fine di promuovere iniziative private ( quali forum, siti, blog, etc ), tale attività verrà considerato come spam.

%h2 Accettazione regolamento
%hr

%blockquote Procedendo con la registrazione al sito il regolamento viene dichiarato accettato in tutte le sue parti dall'utente che si registra s'invitano gli utenti a verificare periodicamente la presenza di nuove norme all'interno del regolamento del sito.

%p.pull-right.carogoverno Lo Staff di CaroGoverno
