%section.top3
  .page-header
    %h1
      Top 3
      %small
        altro testo qui
    .row
      - @top_posts.each do |p|
        .span4
          .well
            %h3.gravatar
              %img(src='http://www.gravatar.com/avatar/ae9a26fc2fbbc4fb8394b4d5721bdb58.png' title="xKraty")
              xKraty
            %p
              = p.body
            = render :partial => "shared/postbuttons", :object => p
%section.container.lastposts.well
  .page-header
    %h1
      Ultimi Post
      %small
        altro testo qui
  .row
    - @top_posts.each do |p|
      .span3
        %h3.gravatar
          %img(src='http://www.gravatar.com/avatar/ae9a26fc2fbbc4fb8394b4d5721bdb58.png' title="xKraty")
          xKraty
        %p
          = p.body
        = render :partial => "shared/postbuttons", :object => p
