%section#privacy
  %h2.carogoverno Normativa sulla Privacy Caro Governo
  %p.well Caro Governo &egrave; impegnato a proteggere tutti i dati personali a noi forniti. In particolare, riteniamo che sia importante che sappiate come verranno trattati i dati personali che possiamo ricevere attraverso questo sito Web.

  %h2.carogoverno Informazioni raccolte
  %p.well In genere, è possibile visitare questo sito Web senza informarci della vostra identit&agrave; e non dovete fornirci nessun'altra informazione. I nostri server registrano i nomi di dominio, ma non gli indirizzi di posta elettronica dei visitatori. I nostri server (come molti siti Web) inviano un "cookie" (un piccolo file di dati) sul disco rigido del vostro computer che permette al server di stabilire quando quel determinato computer effettua un altro accesso, per poter ricavare informazioni statistiche sulla navigazione verso e attraverso certe aree del nostro sito. Questo ci permette di migliorare la navigazione sul nostro sito e di misurare l'efficacia dell'esperienza che il nostro sito offre. Queste informazioni non sono condivise con nessuno. Tuttavia, se preferite non accettare i cookies, potete impostare il browser per rifiutarli o per essere avvertiti prima dell'invio.

  %h2.carogoverno Utilizzo delle informazioni raccolte
  %p.well I nomi di dominio che raccogliamo non vengono utilizzati per identificare la persona, ma servono per misurare il numero delle visite, il tempo medio trascorso sul sito, le pagine visualizzate, ecc. Usiamo queste informazioni per stabilire la misura dell'utilizzo del nostro sito e per migliorare i contenuti presenti nello stesso. Quando vengono raccolte anche altre informazioni, come ad esempio il vostro nome o indirizzo di posta elettronica, viene comunicato al momento stesso della raccolta come questi dati personali verranno utilizzati. Generalmente, usiamo i dati personali solo per rispondere alle vostre domande o per elaborare la vostra richiesta. Potete richiedere di ricevere determinate informazioni riportate su questo sito, ma tutti i messaggi di posta elettronica e le newsletters provenienti da questo sito vi perverranno con l'opzione di cancellarvi dalla mailing list. 


  %h2.carogoverno Sicurezza delle informazioni raccolte
  %p.well Adottiamo rigide misure fisiche, elettroniche e amministrative per proteggere i vostri dati personali da accessi non autorizzati o inappropriati. Limitiamo l'accesso alle informazioni personali ai membri del team di Caro Governo che hanno bisogno di conoscere le informazioni per rispondere alle vostre domande o richieste. I membri che dovessero fare un uso non autorizzato dei dati personali sono soggetti ad azioni disciplinari.

  %h2.carogoverno Modifiche alla normativa
  %p.well Per rilevare eventuali modifiche, controllare periodicamente i contenuti di questa sezione. 
