%section#team
  .hero-unit
    .row-fluid
      .span3
        %img(src='/img/logo200.png' alt='Caro Governo')
      .span9
        %h1.carogoverno Il team
        %p di partenza è composto da due amici, un ingegnere informatico con tanta esperienza, e un giovane ragazzo con tanta voglia di fare e imparare cose nuove; la conoscenza e l'esperienza del primo uniti alla curiosità e l'inesperienza del secondo ne fanno un duetto molto affiatato.
  .page-header
    %h1.carogoverno
      Le nostre storie
      %small La storia di due persone come tante
  .row-fluid.mates
    .span6
      .well
        .row-fluid
          .span3
            %img(src='/img/christian.jpg' alt='Pradovera Luca')
          .span9
            %h2.carogoverno Luca
            %p Sono Luca
    .span6
      .well
        .row-fluid
          .span3
            %img(src='/img/christian.jpg' alt='Campoli Christian')
          .span9
            %h2.carogoverno Christian
            %p Caro governo mi chiamo Christian ho 24 anni e ho la fortuna di avere un posto di lavoro 'monotono', ma mi accorgo che non è così per tutti in quanto ogni giorno sento storie di amici che sono stati lasciati a casa perchè l'azienda ha chiuso oppure proprio non trovano lavoro; nasce quindi questo progetto con la speranza di un futuro migliore per tutti quanti.
