%section.well.container
  .row
    - @posts.each do |p|
      .span3
        %h3.gravatar
          %img{src: p.user.gravatar_path, title: p.user.name}
          = p.user.name
        %p
          = p.body
        = render :partial => "shared/postbuttons", :object => p
