@import url(http://fonts.googleapis.com/css?family=Satisfy);
body { margin: 75px 0 40px 0; }
.carogoverno { font-family: Satisfy; }
.navbar .nav > li > a { height: 29px; padding-top: 18px; }
.navbar .btn-group { padding-top: 10px; }
.navbar .btn { padding: 10px; }
a.brand { font-family: Satisfy; }
.aiutaci { margin-left: 55px !important; }
h3.gravatar { border-bottom: 1px solid #fff; padding: 5px; font-size: 14px; }
h3.gravatar img { border: 5px solid #fff; border-radius: 5px; width: 40px; height: 40px; }
.post > p { text-align: justify; }
/*.postslist .post, .lastposts .post { box-shadow: 0 0 5px #888; margin-bottom: 10px; }*/
.top3 .post > p { height: 95px; overflow: hidden; }
.postslist .post > p, .lastposts .post > p { height: 125px; padding: 5px; overflow: hidden; }
.cg-buttons { padding: 5px; }
#new_post textarea.input-xlarge { width: 500px; }
#chi-siamo .logo { width: 200px; float: left; }
#chi-siamo .info { width: 600px; float: right; }
#chi-siamo p, #privacy p { text-align: justify; }
#team .mates img { border: 5px solid #fff; border-radius: 5px; }
#team p { text-align: justify; }
footer { color: #fff; padding-top: 10px }
footer .carogoverno { font-size: 1.2em; }
footer a { color: #fff; }
footer .pull-left { padding-top: 5px; width: 820px; }
footer .pull-right { width: 110px; }
.modal { display: none; }
.breadcrumb a.active { font-weight: bold; }
blockquote { padding: 0 0 0 15px; margin: 0 0 18px; border-left: 5px solid #EEE; }
.social { padding: 0 5px; }
.social > div { width: 165px !important; }
