%p
  Ciao, #{@resource.name}!
%p Qualcuno ha richiesto un cambio password per il tuo account su Carogoverno.it con indirizzo e-mail #{@resource.email}!
%p= link_to 'Cambia la mia password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Se non hai inviato questa richiesta, ti preghiamo di ignorare questa e-mail.
%p La password non viene cambiata a meno che non visiti il link soprastante.
%p Cordiali saluti,
%p Staff Carogoverno.it
