!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %title= content_for?(:title) ? yield(:title) : "Carogoverno"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
  %body
    #header
      %h1{:style => "background-color: #d54513; color: #fff; padding: 5px; border-radius: 5px;"}
        %img{:src => "http://www.campolichristian.com/caro/logo.png", :alt => "Logo Carogoverno"}
        Carogoverno.it
    = yield
